[Unit]
Description=Allo RelayAttenuator ALSA Bridge
After=sound.target

[Service]
Type=simple
ExecStart=/usr/local/bin/relay_volume.py --input-control "Analogue Playback Volume" --output-control "Digital Playback Volume"
Restart=always

[Install]
WantedBy=multi-user.target
